@model Company

<div class="card shadow border-2 mt-4">
    <div class="card-header bg-danger bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Delete Company</h2>
            </div>
        </div>
    </div>

    <div class="card-body p-4">
        <form method="post" asp-controller="Company" asp-action="Delete">

            <div class="form-floating py-2 col-12">
                <input asp-for="Name" type="text" class="form-control border-0 shadow" />
                <label asp-for="Name" class="form-label ms-2"></label>
                <span asp-validation-for="Name" class="text-danger d-block" style="min-height: 20px;"></span>
                <div class="form-floating py-2 col-12">
                    <input asp-for="StreetAdress" type="text" class="form-control border-0 shadow" />
                    <label asp-for="StreetAdress" class="form-label ms-2"></label>
                    <span asp-validation-for="StreetAdress" class="text-danger d-block" style="min-height: 20px;"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="State" type="text" class="form-control border-0 shadow" />
                    <label asp-for="State" class="form-label ms-2"></label>
                    <span asp-validation-for="State" class="text-danger d-block" style="min-height: 20px;"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="City" type="text" class="form-control border-0 shadow" />
                    <label asp-for="City" class="form-label ms-2"></label>
                    <span asp-validation-for="City" class="text-danger d-block" style="min-height: 20px;"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="PostalCode" type="text" class="form-control border-0 shadow" />
                    <label asp-for="PostalCode" class="form-label ms-2"></label>
                    <span asp-validation-for="PostalCode" class="text-danger d-block" style="min-height: 20px;"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="PhoneNumber" type="text" class="form-control border-0 shadow" />
                    <label asp-for="PhoneNumber" class="form-label ms-2"></label>
                    <span asp-validation-for="PhoneNumber" class="text-danger d-block" style="min-height: 20px;"></span>
                </div>
                <div class="row">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-danger form-control mt-3">Delete</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Company" asp-action="Index" class="btn btn-outline-secondary form-control mt-3">Go Back</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
