@model int

<li class="nav-item">
    <a class="nav-link text-dark" asp-area="Customer" asp-controller="Cart" asp-action="Index">
        <i class="fas fa-shopping-cart"></i> Cart (@Model)
    </a>
</li>
