@model int
<div class="contianer row pt-4">
    <div class="col-12" text-center>
        <h1 class="text-primary text-center">Payment Successfull!</h1>
        Your Order Number is : @Model <br /><br />
        <img src="~/Images/lawn_leaf.jpg" width="65%" />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        Payment applied successfully <br />
        <a asp-action="Details" asp-controller="Order" asp-area="Admin" asp-route-orderId="@Model" class="btn btn-primary"> Back to order</a>
    </div>

    </div>
